<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="content">
        <h1>书名：{{book.btitle}}</h1>
        <ul>
            {% for role in book.roleinfo_set.all %}
                <li>{{role.rname}}----{{role.rcontent}}</li>
            {% empty %}
                <h3>no users</h3>
            {% endfor %}
        </ul>
        <br>
        <a href="{% url 'task:addrole' book.id%}">添加角色</a>

        {#<a href="/task/list/">返回列表页</a>#}
        <a href="{% url 'task:list' %}">返回列表页</a>
    </div>
</body>
</html>